div#page-title {
  font-size:14px;
  font-weight:bold;
  padding:2px;
}
div#chart1 {
  width:800px;
  height:600px;
}
a#page-link {}
div#highlight-info { 
  border: 1px solid #999;
  margin:4px 0px;
  padding:2px;
  width:100%;
}
